*.o
*.pyc
*.out
*.a
Python-2.7.5/Makefile
Python-2.7.5/Makefile.pre
Python-2.7.5/Misc/python.pc
Python-2.7.5/Modules/Setup
Python-2.7.5/Modules/Setup.config
Python-2.7.5/Modules/Setup.local
Python-2.7.5/Modules/config.c
Python-2.7.5/Modules/ld_so_aix
Python-2.7.5/Parser/pgen
Python-2.7.5/build/
Python-2.7.5/config.log
Python-2.7.5/config.status
Python-2.7.5/pybuilddir.txt
Python-2.7.5/pyconfig.h
Python-2.7.5/Python.exe
Python-2.7.5/python
Python-2.7.5/python.exe-gdb.py
